{% extends 'base.html.twig' %}

{% block content %}
    <h1>Inscription</h1>

    {{ form_start(form) }}
            {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
                {{ form_row(form.photo) }}

        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    {% for error in form.vars.errors %}
        <div class="error">{{ error.message }}</div>
    {% endfor %}
{% endblock %}
