<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}" >

</head>
<body>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="navbar">

            <ul class="navbar-list">
                       {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <li><a href="{{ path('acceuil') }}">Accueil</a></li>
                <li><a href="{{path('articles')}}">Articles</a></li>
                <li><a href="">Contact</a></li>
                             {% else %}
                             <li><a href="{{ path('login') }}">Login</a></li>
                <li><a href="{{ path('register') }}">Register</a></li>
                                 {% endif %}


            </ul>
                                   {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="navbar-profile">
                <img src="{{app.user.photo}}" alt="Photo de profil" class="profile-img">
                <span class="profile-name">{{app.user.username}}</span>
               

                <a href="{{ path('logout') }}">  <button class="btn-logout" >Se déconnecter</button></a>
            </div>
                                 {% endif %}

                        
        </nav>

        <!-- Contenu principal -->
        <main class="content">
            {% block content %}
           
            {% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 Mon Blog</p>
        <ul class="footer-links">
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>
</body>
</html>
