{% extends 'base.html.twig' %}

{% block title %}Accueil - Mon Blog{% endblock %}

{% block content %}
  <div class="articles-container">
        <h1>{{title}}</h1>

        <div class="articles-grid">
            {% for article in articles %}
                <div class="article-card">
                    <img src="{{ article.image }}" alt="{{ article.title }}" class="article-image">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.content|length > 150 ? article.content[:150] ~ '...' : article.content }}</p>
         <a href="{{ path('user/article_detail', {'id': article.id}) }}" class="btn">Voir plus</a>
                </div>
            {% else %}
                <p>Aucun article disponible pour le moment.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
